<!-- Footer -->

<footer class="footer">
    <div class="container">
        <p class="text-center">&copy;What is a pixel? <span class="not-span"
                                                            id="currentYear">2024</span></p>
    </div>
</footer>

<!-- custom js -->
<script src="{{url_for('static', filename='js/scriptsrequire.js')}}"></script>
<script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
</body>
</html>