{% include 'header.html' %} {% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const items = [
      {
        src: "{{url_for('static', filename='assets/img/rows2/11.png')}}",
        description: `<span>225x225 image contains rgb(<span style="color: rgb(15, 0, 0)">15</span>,
      <span style="color: rgb(0, 111, 0)">111</span>,<span
        style="color: rgb(0, 0, 1)"
        >1</span
      >) and white rgb(<span style="color: rgb(255, 0, 0)">255</span>,<span
        style="color: rgb(0, 255, 0)"
        >255</span
      >, <span style="color: rgb(0, 0, 255)">255</span>) over the four corners</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/12.png')}}",
        description: `<span>2d chart plot of red channel in matplotlib, downsampling every 5 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/13.png')}}",
        description: `<span>2d chart plot of green channel in matplotlib, downsampling every 5 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/14.png')}}",
        description: `<span>2d chart plot of blue channel in matplotlib, downsampling every 5 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/21.jpg')}}",
        description: `<span>1000x1416 pixelated image of a panda</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/22.png')}}",
        description: `<span>2d chart plot of red channel in matplotlib, downsampling every 15 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/23.png')}}",
        description: `<span>2d chart plot of green channel in matplotlib, downsampling every 15 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/24.png')}}",
        description: `<span>2d chart plot of blue channel in matplotlib, downsampling every 15 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/21.jpg')}}",
        description: `<span>1000x1416 pixelated image of a panda</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/32.png')}}",
        description: `<span>2d chart plot of red channel in matplotlib, downsampling every 15 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/33.png')}}",
        description: `<span>2d chart plot of green channel in matplotlib, downsampling every 15 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/34.png')}}",
        description: `<span>2d chart plot of blue channel in matplotlib, downsampling every 15 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/41.jpeg')}}",
        description: `<span>962x641 image of author</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/42.png')}}",
        description: `<span>2d chart plot of red channel in matplotlib, downsampling every 10 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/43.png')}}",
        description: `<span>2d chart plot of green channel in matplotlib, downsampling every 10 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/44.png')}}",
        description: `<span>2d chart plot of red channel in matplotlib, downsampling every 10 pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/51.jpg')}}",
        description: `<span>277x272 image contains RGB(0, 255, 3)</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/52.png')}}",
        description: `<span>2d chart plot of red channel values in matplotlib, downsampling every 25
      pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/53.png')}}",
        description: `<span>2d chart plot of green channel values in matplotlib, downsampling every 25
      pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows2/54.png')}}",
        description: `<span>2d chart plot of blue channel values in matplotlib, downsampling every 25
      pixels</span>`,
      },
    ];
    const items2 = [
      {
        p: `<span>The white on the four corners is shown on the red, green and blue plots
      corners with pure (r,g,b) values showing they tend to (<span
        style="color: #ff0000"
        >1</span
      >, <span style="color: #00ff00">1</span>,
      <span style="color: #0000ff">1</span>). The green component in rgb(<span
        style="color: rgb(15, 0, 0)"
        >15</span
      >, <span style="color: rgb(0, 111, 0)">111</span>,<span
        style="color: rgb(0, 0, 1)"
        >1</span
      >) contributes to the darker green markers in the middle of the green plot</span>`,
      },
      {
        p: `<span>The white on the panda's face is shown on his face on the red, green and
      blue plots with pure (r,g,b) values highlighted as they tend to (<span
        style="color: #ff0000"
        >1</span
      >, <span style="color: #00ff00">1</span>,
      <span style="color: #0000ff">1</span>). The green component in the
      background and bottom right is highlighted on the green plot. The black on
      the ears, eyes and the bottom left is ignored as the rgb is < 0.175. The
      black component will be highlighted on the next row. <br>
      The important reasoning behind why the panda's image is pixelated and why
      the source image has exactly 1600 pixels, could be found
      <a class="not-tag" href="https://www.wwf.org.uk/updates/world-wildlife-conservation-day"
        >here</a
      >.</span>`,
      },
      {
        p: `<span>The white on the panda's face is shown on his face on the red, green and
      blue plots with pure (r,g,b) values highlighted as they tend to (<span
        style="color: #ff0000"
        >1</span
      >, <span style="color: #00ff00">1</span>,
      <span style="color: #0000ff">1</span>). The green component in the
      background and bottom right corner is highlighted on the green plot. The
      black on the ears, eyes and the bottom left corner is shown as black stars
      *. The low red and blue values in the background between the ears and on
      some patches on the bottom right are shown as the hollow 'o' on the red
      and blue plots.</span>`,
      },
      {
        p: `<span>A well-exposed photo, the histogram peaks for the red, green, and blue
      channels are occurring at approximately the same locations. The red, green
      and blue plots are balanced with no areas showing bias towards a
      particular color channel than the others. Lighter red, green and blue
      components are observed on the face, in the background and on the tip of
      the white shirt. Darker red, green and blue components are observed on the
      hair, beard and on the grey shirt. This is an RGB plot that doesn't
      highlight low rgb values or black so darker patches on the beard and hair
      are ignored (hence the white patches on the plots). In a similar way to
      the first panda plot on the second row.<br>
    
      It is satisfying to think that if you superimpose the blue plot on the
      green plot on the red plot you will end up with the source image, with its
      actual color composition.</span>`,
      },
      {
        p: `<span>This is an RGB values plot, the third type of 2d plots.Green rgb(0,
      <span style="color: #00ff00">255</span>,
      <span style="color: #000003">3</span>) is shown here. The red channel
      component values are all 0. The green channel component values are all 1.
      The negligible blue channel values are all 0.01.</span>`,
      },
    ];
    function createGridContainers(itemsPerContainer) {
      const containersCount = Math.ceil(items.length / itemsPerContainer);
      const fragment = document.createDocumentFragment();

      for (let i = 0; i < containersCount; i++) {
        const container = document.createElement("div");
        container.classList.add("grid-container-4");

        for (
          let j = i * itemsPerContainer;
          j < (i + 1) * itemsPerContainer && j < items.length;
          j++
        ) {
          const item = document.createElement("div");
          item.classList.add("grid-item");

          const imageWrapper = document.createElement("div");
          imageWrapper.classList.add("image-wrapper");
          const img = document.createElement("img");
          img.src = items[j].src;
          img.alt = `Image ${j + 1}`;
          img.classList.add("grid-img");
          imageWrapper.appendChild(img);

          const description = document.createElement("div");
          description.classList.add("description");
          description.innerHTML = items[j].description;

          item.appendChild(imageWrapper);
          item.appendChild(description);
          container.appendChild(item);
        }

        fragment.appendChild(container);

        const rowDescription = document.createElement("div");
        rowDescription.classList.add("row-description");
        rowDescription.innerHTML = items2[i].p;
        fragment.appendChild(rowDescription);
      }
      const containerDiv = document.querySelector(".illustrations-container");
      containerDiv.appendChild(fragment); // Append the created containers to the existing container div
    }

    createGridContainers(4); // Call the function to create and populate grid containers with 3 items per container
  });


</script>
<script src="{{url_for('static', filename='js/scriptsnavigate.js')}}"></script>
{% endblock %}
<div class="description-container">
    <h2>Visualizing Pixel Components with 2d Charts</h2>
    <p>
        In our exploration of pixel data, we employ 2d chart plots to provide a
        clear visualization of the unpacking process and the effectiveness of
        down-sampling. The goal is to shed light on the individual RGB components of
        each pixel, offering insights into the color distribution within the image.
    </p>
    <h3><b>Down-sampling</b></h3>
    <p>
        Down-sampling plays a crucial role in simplifying the complexity of images
        for analysis. By reducing the pixel density, we create a manageable
        representation that not only improves computational efficiency but also
        enhances the interpretability of pixel components. More on down sampling
        <a class="not-tag" href="{{url_for('visualize3')}}#sampling"> here.</a>
    </p>

    <h3>Visualization technique</h3>
    <p>
        The 2d chart plots serves as an effective tool to represent the three
        individual components of each pixel. Here's how it works:
    </p>
    <ol>
        <li>
            Three Separate Plots:
            <ol class="nest">
                <li>
                    In our approach, each pixel is unpacked into its RGB components.
                </li>
                <li>
                    The red, green, and blue components are individually plotted on three
                    separate charts.
                </li>
                <li>
                    Each chart corresponds to a specific RGB component, namely the red
                    plot, green plot, and blue plot.
                </li>
            </ol>
        </li>
        <li>
            Markers:<br/>
            <span class="nest" style="padding-left: 1%"
            >There are three types of 2d plots:</span
            >
            <ol class="nest">
                <li>
                    <span class="nest">RGB plot:</span>
                    <ul class="nest">
                        <li>The marker used in the plots is a circular marker.</li>
                        <li>
                            When the color in the r or g or b channel is divided by 255 by the
                            preprocessor we obtain a value that ranges anywhere between 1 for
                            255 and 0. Any color above 0.175, i.e., &isin; [0.175, 1] in the r or g or b channel is
                            plotted on the corresponding plot using that value.
                        </li>
                        <li>
                            0.175 is chosen to emphasize the significance of the different
                            components as values closer to 0 tend to black and are thus
                            ignored.
                        </li>
                    </ul>
                </li>

                <li>
                    <span class="nest">RGB plot with emphasis on Black:</span>
                    <ul class="nest">
                        <li>The marker used in the plots is a circular marker.</li>
                        <li>
                            Any value above 0.175 in the r or g or b channel is plotted on the
                            corresponding plot using that value, i.e., &isin; [0.175, 1].
                        </li>
                        <li>
                            Any value between 0.1 and 0.175, i.e., &isin; [0.1, 0.175] is plotted using a black circular
                            marker that is white on the inside to highlight less significant
                            contributions.
                        </li>
                        <li>
                            Any value between 0 and 0.1, i.e., &isin;
                            [0, 0.1] is plotted using a black star to show
                            black pixels and pixels that tend to black rgb(0,0,0).
                        </li>
                    </ul>
                </li>

                <li>
                    <span class="nest">RGB values plot:</span>
                    <ul class="nest">
                        <li>
                            The actual value of the r or g or b channel component is plotted.
                        </li>
                        <li>
                            It is recommended to use a higher downsampling factor for this plot type to read the
                            individual pixel (r, g, b) values more easily.
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
        <li>
            Color Representation:
            <ol class="nest">
                <li>
                    The color of each circle on the red, green, or blue plot corresponds
                    to the color of the respective RGB component at that pixel.
                </li>
                <li>
                    This color representation provides a visual link between the charts,
                    offering a comprehensive view of the color distribution.
                </li>
            </ol>
        </li>
    </ol>

    <h3>Interactive Exploration</h3>
    <p>
        Feel free to interact with the charts. RGB plot
        <a class="not-tag" href="https://github.com/osstd/plot_rgb_.git"> here. </a>
        RGB plot with emphasis on Black
        <a class="not-tag" href="https://github.com/osstd/plot_rgb_black_.git">
            here.
        </a>
        RGB values plot
        <a class="not-tag" href="https://github.com/osstd/plot_rgb_annotate_.git">
            here.
        </a>
        Observe how the down-sampled pixel data is represented on the red, green,
        and blue plots. The circular markers offer a unique perspective on the color
        composition, making it easier to discern and analyze individual pixel
        components.
    </p>

    <p>
        This 2d representation simplifies the intricacies of pixel data, providing a
        visual journey into the RGB components of each pixel within the image.
    </p>
</div>

<div class="illustrations-container">
    <div class="title-container">
        <h2>Illustrations:</h2>
    </div>
</div>

<div class="full-image-container">
    <img src="" alt="" id="full-image"/>
</div>

{% include 'footer.html' %}
