{% include 'header.html' %} {% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const items = [
      {
        src: "{{url_for('static', filename='assets/img/rows/11.png')}}",
        description: `<span>56x40 pixelated image contains rgb(<span style="color:rgb(1,0,0);">1</span>, <span class="ib" style="color:rgb(0,23,0);">23</span>,
    <span style="color:rgb(0,0,126);">126</span>) and white</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/12.png')}}",
        description: `<span>3d bar segments analysis of image in matplotlib, downsampling every 4 pixels, magnified
      on next schematic</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/13.png')}}",
        description: `<span>closeup of rgb(<span style="color:rgb(1,0,0);">1</span>, <span
    style="color:rgb(0,23,0);">23</span>,
<span style="color:rgb(0,0,126);">126</span>) bars and white bars rgb(<span
        style="color:rgb(255,0,0);">255</span>,
 <span style="color:rgb(0,255,0);">255</span>, <span style="color:rgb(0,0,255);">255</span>)</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/21.jpg')}}",
        description: `<span>277x272 image contains rgb(<span style="color: rgb(0, 0, 0)">0</span>,
      <span style="color: rgb(0, 255, 0)">255</span>,<span
        style="color: rgb(0, 0, 3)"
        >3</span
      >)</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/22.png')}}",
        description: `<span>3d bar segments analysis of image in matplotlib, down sampling every 10
      pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/23.png')}}",
        description: `<span>Green rgb(<span style="color: rgb(0, 0, 0)">0</span>,
      <span style="color: rgb(0, 255, 0)">255</span>,<span
        style="color: rgb(0, 0, 3)"
        >3</span
      >), hex(#00FF03).Try
      <a class="not-tag" href="https://redketchup.io/color-picker">here</a></span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/31.png')}}",
        description: `<span>225x225 image contains rgb(<span style="color: rgb(15, 0, 0)">15</span>,
      <span style="color: rgb(0, 111, 0)">111</span>,<span
        style="color: rgb(0, 0, 1)"
        >1</span
      >) and white rgb (<span style="color: rgb(255, 0, 0)">255</span>,<span
        style="color: rgb(0, 255, 0)"
        >255</span
      >, <span style="color: rgb(0, 0, 255)">255</span>) over the four corners</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/32.png')}}",
        description: `<span>3d bar segments analysis of image in matplotlib, down sampling every 10
      pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/33.png')}}",
        description: `<span>Dark green rgb(<span style="color: rgb(15, 0, 0)">15</span>,<span
        style="color: rgb(0, 111, 0)"
        >111</span
      >, <span style="color: rgb(0, 0, 1)">1</span>), hex(#0F6F01)</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/41.jpeg')}}",
        description: `<span>962x641 image of author</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/42.png')}}",
        description: `<span>3d bar segments analysis of image in matplotlib, down sampling every 20
      pixels</span>`,
      },
      {
        src: "{{url_for('static', filename='assets/img/rows/43.png')}}",
        description: `<span>A well-exposed photo, the histogram peaks for the red, green, and blue
      channels occurring at approximately the same locations</span>`,
      },
    ];

    function createGridContainers(itemsPerContainer) {
      const containersCount = Math.ceil(items.length / itemsPerContainer);
      const fragment = document.createDocumentFragment();

      for (let i = 0; i < containersCount; i++) {
        const container = document.createElement("div");
        container.classList.add("grid-container");

        for (
          let j = i * itemsPerContainer;
          j < (i + 1) * itemsPerContainer && j < items.length;
          j++
        ) {
          const item = document.createElement("div");
          item.classList.add("grid-item");

          const imageWrapper = document.createElement("div");
          imageWrapper.classList.add("image-wrapper");
          const img = document.createElement("img");
          img.src = items[j].src;
          img.alt = `Image ${j + 1}`;
          img.classList.add("grid-img");
          imageWrapper.appendChild(img);

          const description = document.createElement("div");
          description.classList.add("description");
          description.innerHTML = items[j].description;

          item.appendChild(imageWrapper);
          item.appendChild(description);
          container.appendChild(item);
        }

        fragment.appendChild(container);
      }

      const containerDiv = document.querySelector(".illustrations-container");
      containerDiv.appendChild(fragment); // Append the created containers to the existing container div
    }

    createGridContainers(3); // Call the function to create and populate grid containers with 3 items per container
  });

</script>
<script src="{{url_for('static', filename='js/navigate.js')}}"></script>
{% endblock %}
    <div class="description-container">
        <h2>
            Visualizing Pixel Components with 3d Bar Segments
        </h2>
        <p>
            In this visualization, we leverage a 3d bar plot using the matplotlib
            library in python to provide an intuitive representation of each pixel's
            data. The goal is to gain insights into the composition of each pixel.
        </p>

        <h3 id="sampling">Interesting simplification, <b>down-sampling</b></h3>
        <p>
            Down-sampling not only enhances computational efficiency but also
            introduces a crucial aspect in the visualization process—maintaining a gap
            between pixels. This separation, dictated by the down-sampling factor,
            adheres to the standard in modern digital images. The intentional gap
            between densely packed pixels aids the human eye in visualizing separate
            pixels, which aligns with the primary purpose of our visualization tool.
        </p>
        <p style="font-size: 1rem">Benefits of pixel separation:</p>
        <ol>
            <li>
                Enhanced Visualization: The separation imposed by down-sampling enhances
                the visual clarity of individual pixels. This deliberate gap facilitates
                a clearer understanding of the unique characteristics of each pixel
                within the image.
            </li>
            <li>
                Standardized Representation: The down-sampling factor introduces a
                consistent and standardized separation between pixels, aligning with the
                conventions followed in contemporary digital imaging. This
                standardization contributes to a more interpretable and meaningful
                visualization.
            </li>
        </ol>

        <h3>Visualization technique</h3>
        <p>
            The 3d bar plot serves as an effective tool to represent the normalized
            components of each pixel. Here's how it works:
        </p>
        <ol>
            <li>
                Bar Height: All bars have the same total height. The height of each of
                the three individual segments of the bar corresponds to the percentage
                of the respective color component. A taller segment indicates a higher
                contribution of that color to the pixel.
            </li>
            <li>
                Color Coding: Bar segments are color-coded to represent the RGB
                components. For instance, red, green, and blue are visually
                distinguished to offer a quick understanding of the color composition at
                each pixel.
            </li>
        </ol>
        <h3>Effectiveness of Normalization</h3>
        <p>
            Normalization is a critical aspect of our visualization process. It
            ensures that the sum of color components at each pixel equals 100%,
            providing a standardized and comparable representation. This normalization
            enhances the interpretability of the 3d bar segments plot.
        </p>
        <h3>Interactive Exploration</h3>
        <p>
            Feel free to interact with the visualization. The python script could be
            found
            <a class="not-tag" href="https://github.com/osstd/plot_rgb_3dbar_.git">
                here.</a
            >
            Observe how the down-sampled pixel data unfolds in a 3d space, providing a
            unique perspective on the color distribution within the image. Feel free
            to play around with the sampling factor if you have a high-performance
            machine, it is recommended to always keep a gap, as this imposes a
            separation between the densely packed pixels. As explained earlier, the
            separation aids the naked eye with the visualization of separate pixels
            which is the purpose of this tool.
        </p>

        <p>
            This 3d representation simplifies the complex nature of pixel data, making
            it accessible and insightful. Explore the visual richness and nuances of
            images through this innovative approach.
        </p>
    </div>


<div class="illustrations-container">
    <div class="title-container">
        <h2>Illustrations:</h2>
    </div>
</div>

<div class="full-image-container">
    <img src="" alt="" id="full-image"/>
</div>

<div class="note-container">
    <p class="note">
        Note: the images shown above in the first column of every row have been
        slightly modified in formatting. The actual dimensions are reported below
        each image. Also, the images are shown true to their dimensions on the
        illustrations in the ChartPlot section.
    </p>
</div>

<div class="btn-grid-container">
    <button class="btn-grid-item btn-r">
        <a href="{{url_for('upload')}}">Try now!</a>
    </button>
    <button class="btn-grid-item btn-g">
        <a href="{{url_for('visualize3')}}">Visualize BarPlot</a>
    </button>
    <button class="btn-grid-item btn-b">
        <a href="{{url_for('visualize2')}}">Visualize ChartPlot</a>
    </button>
</div>

{% include 'footer.html' %}
